<!DOCTYPE html>
<html lang="en">
<head>

<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
<link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
<link rel="manifest" href="/site.webmanifest">

<title>The Synistverse</title>
<meta name=""description" content="A living compendium of the worldbuilding and development of Synist.">

<!-- Link to your external CSS file -->
<link rel="stylesheet" href="/style.css">

<style>
@import url('https://fonts.googleapis.com/css2?family=Hanken+Grotesk:ital,wght@0,300;1,300&family=Manufacturing+Consent&display=swap');
</style>

</head>

<body>
    {% include "header.html" %}

    <div class="header">
        <h1>{{title | default: ""}}</h1>
    </div>


<div class="main">

    {{content}}
    
</div>

{% include "footer.html" %}


<!-- Link to your external JavaScript file -->
<script src="script.js"></script>

</body>

</html>
